# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcode
xcuserdata/
DerivedData/

# Editor
.*.sw?

# Credentials
.netrc

